<footer>
	<nav class="simple"> 
		{nav_menu location=footer_menu}
	</nav>
	{if {customize key="logo_footer"}}
	<div class="partners">
		<a href="{customize key="partner_link"}" id="partner_logo"><img src="{customize key="logo_footer"}" alt="{customize key="partner_name"}"></a>
		<span>{'ministry partner of'|translate:general}</span>
		<a href="http://jesus.net" id="jesus_net" target="_blank">Jesus.net</a>
	</div>
	{/if}
	<nav class="columns">
	{nav_menu location=footer_menu_bottom}
	</nav>
	
</footer>