{loop name=sections}
	{if {post_meta key="_cp_template"} eq image}
		<div class="container">
		<div class="element">
			<section class="main-image full">

				{post_meta key="image_bg" out="arraytestValues" id={the_id}}
				{if $arraytestValues}
					{foreach from=$arraytestValues item=image key=key}
								{image id=$image q=95 title={the_title}}
					{/foreach}
				{/if}
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quaerat maxime eligendi quisquam omnis fugit.</p>
					<a href="#" class="cta">Call to action</a>
				</div>
			</section>
		</div>
	</div>
	{/if}
	{if {post_meta key="_cp_template"} eq intro}
	<div class="container">
			<div class="element">
				<section class="special full">
					{the_content id={the_id} html=1}
				</section>
			</div>
		</div>
	{/if}
	{if {post_meta key="_cp_template"} eq single_column_100}			
	<div class="container">
			<div class="element">
				<h1>{post_meta key=title_100 id={the_id}}</h1>
				<h2>{post_meta key=subtitle_100 id={the_id}}</h2>
				<section class="columns">
					<article class="single-column content">
						{the_content id={the_id} html=1}
					</article>
				</section>
			</div>
		</div>
	{/if}
	{if {post_meta key="_cp_template"} eq single_column_75}			
	<div class="container">
			<div class="element">
				<h1>{post_meta key=title_75 id={the_id}}</h1>
				<h2>{post_meta key=subtitle_75 id={the_id}}</h2>
				<section class="columns">
					<article class="single-column medium content">
						{the_content id={the_id} html=1}
					</article>
				</section>
			</div>
		</div>
	{/if}
	{if {post_meta key="_cp_template"} eq single_column_50}			
	<div class="container">
			<div class="element">
				<h1>{post_meta key=title_50 id={the_id}}</h1>
				<h2>{post_meta key=subtitle_50 id={the_id}}</h2>
				<section class="columns">
					<article class="single-column small content" style="background-color: red;">
						{the_content id={the_id} html=1}
					</article>
				</section>
			</div>
		</div>
	{/if}
	{if {post_meta key="_cp_template"} eq two_columns_50_50}			
	<div class="container">
			<div class="element">
				<h1>{post_meta key=title_50_50 id={the_id}}</h1>
				<h2>{post_meta key=subtitle_50_50 id={the_id}}</h2>
				<section class="columns">
					<article class="two-columns content">
						{post_meta key=column_1_50_50 id={the_id} html=1}
					</article>
					<article class="two-columns content">
						{post_meta key=column_2_50_50 id={the_id} html=1}
					</article>
				</section>
			</div>
		</div>
	{/if}
	{if {post_meta key="_cp_template"} eq two_columns_25_75}			
	<div class="container">
			<div class="element">
				<h1>{post_meta key=title_25_75 id={the_id}}</h1>
				<h2>{post_meta key=subtitle_25_75 id={the_id}}</h2>
				<section class="columns">
					<article class="two-columns content small">
						{post_meta key=column_1_25_75 id={the_id} html=1}
					</article>
					<article class="two-columns content big">
						{post_meta key=column_2_25_75 id={the_id} html=1}
					</article>
				</section>
			</div>
		</div>
	{/if}
	{if {post_meta key="_cp_template"} eq three_columns}			
	<div class="container">
			<div class="element">
				<h1>{post_meta key=title_3 id={the_id}}</h1>
				<h2>{post_meta key=subtitle_3 id={the_id}}</h2>
				<section class="columns">
					<article class="three-columns content">
						{post_meta key=column_1_3 id={the_id} html=1}
					</article>
					<article class="three-columns content">
						{post_meta key=column_1_3 id={the_id} html=1}
					</article>
					<article class="three-columns content">
						{post_meta key=column_1_3 id={the_id} html=1}
					</article>
				</section>
			</div>
		</div>
	{/if}
	{if {post_meta key="_cp_template"} eq four_columns}			
	<div class="container">
			<div class="element">
				<h1>{post_meta key=title_4 id={the_id}}</h1>
				<h2>{post_meta key=subtitle_4 id={the_id}}</h2>
				<section class="columns">
					<article class="four-columns content">
						{post_meta key=column_1_4 id={the_id} html=1}
					</article>
					<article class="four-columns content">
						{post_meta key=column_2_4 id={the_id} html=1}
					</article>
					<article class="four-columns content">
						{post_meta key=column_3_4 id={the_id} html=1}
					</article>
					<article class="four-columns content">
						{post_meta key=column_4_4 id={the_id} html=1}
					</article>
				</section>
			</div>
		</div>
	{/if}
{/loop}